<data-table
  #tableComponent
  [data]="tableData()"
  [columns]="tableColumns"
  [defaultColumns]="defaultColumns"
  [isLoading]="isLoading()"
  [isEmpty]="isEmpty()"
  [totalItems]="totalItems()"
  [tableId]="'stock-entries-table'"
  [title]="'Stock Entries'"
  [enableExport]="true"
  [inlineEditConfig]="inlineEditConfig"
  (rowClick)="onRowClick($event)"
  (actionClick)="onActionClick($event)"
  (filterChange)="onFilterChange($event)"
  (paginationChange)="onPaginationChange($event)"
  (inlineEditSave)="onInlineEditSave($event)"
  (inlineDelete)="onInlineDelete($event)">

  <ng-template #sideColumn>
    <div class="flex flex-wrap items-center gap-3 justify-end">
      <data-search placeholder="Search part no or description" (searchSubmitted)="onSearch($event)"></data-search>
      <app-btn theme="primary" (buttonClick)="onCreateStockEntry()">
        <ng-icon name="heroPlus"></ng-icon>
        Add Stock Entry
      </app-btn>
    </div>
  </ng-template>
</data-table>
