<div class="flex flex-wrap -mx-3 mb-1 {{ class }}">
  <div class="w-full px-3 mb-6 md:mb-0">
    @if(label) {
    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2" [for]="id">
      {{ label }}
    </label>
    }
    <ng-select 
      [id]="id"
      [class.border-red-500]="!value && isSubmitted"
      class=" capitalize  {{ defaultClass ? 'form-component border' : '' }}"
      [placeholder]="placeholder"
      appendTo="body"
      [multiple]="multiple"
      [(ngModel)]="value"
      (change)="onSelectionChange($event)"
      [disabled]="disabled"
      [clearable]="clearable"
    >
      <ng-option *ngFor="let option of options" [value]="getOptionValue(option)" class="capitalize">
        {{ getOptionLabel(option) }}
      </ng-option>
      <ng-template ng-footer-tmp>
        <ng-container *ngIf="footerLabel">
          <button type="button" class="w-full text-violet-700 py-2 font-medium" (click)="onFooterClick($event)">
            {{ footerLabel }}
          </button>
        </ng-container>
      </ng-template>
    </ng-select>
    <div class="mb-2 text-red-700 text-sm" *ngIf="!value && isSubmitted">
      Please select an option.
    </div>
  </div>
</div>