<div class="bg-white m-6">
    <div class="text-lg font-medium p-4 border-b border-b-gray-300 px-8">
        <div class="flex flex-col md:flex-row items-center justify-between md:items-end gap-3">
            <h3 class="font-semibold">Recycle Bin</h3>
        </div>
    </div>
    <!-- <app-skelton-loading *ngIf="isLoading" [lineLength]="4"></app-skelton-loading> -->

    <div class="m-8  overflow-y-auto">
        <div  class="w-full flex justify-center items-center pb-8">
            <div class="p-3">
                <img src="assets/images/empty.png" alt="">
                <p class="m-2 text-center text-gray-500">No Data</p>
            </div>
        </div>

        <section class="mat-elevation-z8 h-fit max-h-[57vh] overflow-auto" tabindex="0">
            <!----- Main table component for this -->
            
           

        </section>
        <!-- <div class="w-full bg-white" *ngIf="!isEmpty">
            <app-pagination [page]="page" [row]="row" [total]="total"
                (changeData)="onPageNumberClick($event)"></app-pagination>
        </div> -->
    </div>
    <div>
    </div>