<div class="h-full flex flex-col p-6 gap-5 bg-gray-50 dark:bg-erp-surface-dark-alt">
    <app-data-grid #grid
        class="flex-1 min-h-0"
        [fillHeight]="true"
        [title]="pageTitle"
        [breadcrumbs]="breadcrumbs"
        rowKey="_id"
        [serverSide]="true"
        [data]="rows"
        [columns]="columns"
        [loading]="isLoading"
        [pageSize]="row"
        [totalCount]="total"
        emptyMessage="No Data"
        [rowActions]="rowActions"
        storageKey="reassigned-jobs-list"
        [detailLoading]="detailLoading"
        [detailTabs]="detailTabs"
        [detailTitle]="rowTitle"
        [detailSubtitle]="rowSubtitle"
        (rowOpen)="onRowOpen($event)"
        (rowAction)="onRowAction($event)"
        (queryChange)="onQueryChange($event)">

        <ng-template #detailMetaTemplate let-row>
            <div class="qt-meta">
                <p class="qt-meta-label">Customer</p>
                <p class="qt-meta-value">{{ row.client?.[0]?.companyName }}</p>
            </div>
            <div class="qt-meta">
                <p class="qt-meta-label">Department</p>
                <p class="qt-meta-value">{{ row.department?.[0]?.departmentName }}</p>
            </div>
            <div class="qt-meta">
                <p class="qt-meta-label">Assigned By</p>
                <p class="qt-meta-value">{{ row.preSale?.presalePerson?.[0]?.firstName }} {{ row.preSale?.presalePerson?.[0]?.lastName }}</p>
            </div>
        </ng-template>

        <ng-template #detailTemplate let-row let-tab="tab">
            <ng-container [ngSwitch]="tab">
                <ng-container *ngSwitchCase="'overview'">
                    <app-detail-overview [grid]="grid" [row]="row" [sections]="overviewSections(row)"></app-detail-overview>
                </ng-container>

                <ng-container *ngSwitchCase="'comments'">
                    <app-detail-comments [comments]="commentsFor(row)" emptyMessage="No comments for this job."></app-detail-comments>
                </ng-container>

                <ng-container *ngSwitchCase="'events'">
                    <app-detail-task-list
                        [items]="eventItems((eventsFor(row) | async) ?? [])"
                        defaultFilter="event"
                        [showTasks]="false"
                        [showEvents]="true"
                        addable
                        (add)="onAddEvent(row)"
                        (toggle)="onToggleEvent(row, $event)"
                        (eventOutcome)="onEventOutcome(row, $event.item, $event.status)"
                        (remove)="onDeleteEvent(row, $event)"
                        (previewFile)="onPreviewEventFile($event.file)"
                        (deleteFile)="onDeleteEventFile(row, $event.item, $event.file)"></app-detail-task-list>
                </ng-container>

                <ng-container *ngSwitchCase="'documents'">
                    <app-detail-documents
                        title="Presale Files"
                        emptyMessage="No files uploaded yet."
                        [documents]="presaleDocuments(row)"
                        (open)="onDocPreview(row, $event)"
                        (download)="onDocDownload(row, $event)"></app-detail-documents>
                </ng-container>
            </ng-container>
        </ng-template>
    </app-data-grid>

    <app-view-estimation [open]="!!estimationTarget" [estimation]="estimationTarget?.estimation ?? null" [enquiryId]="estimationTarget?.enqId ?? ''"
        editable editMode="emit" (edit)="onEditEstimation($event, estimationTarget?.enqId ?? '')"
        (cleared)="onEstimationCleared()" (closed)="estimationTarget = null"></app-view-estimation>
    <app-estimation-form-drawer [open]="estimationFormOpen" [mode]="estimationFormMode" [estimation]="estimationFormSeed" [enqId]="estimationFormEnqId"
        (saved)="onEstimationFormSaved()" (closed)="onEstimationFormClosed()"></app-estimation-form-drawer>
</div>
