<div class="bg-white m-6 rounded-lg">
    <div class="border-b p-3 px-9 flex justify-between items-center">
        <h3 class="text-md font-medium">Create Purchase Requisition</h3>
    </div>
    <form [formGroup]="purchaseForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col py-6 mx-auto w-full text-gray-900 bg-white px-9">
            <div class="flex flex-col md:flex-row md:mb-5 gap-3">
                <app-select-dropdown [options]="jobSheets()" label="Job Id" optionLabel="jobId" optionValue="_id"
                    formControlName="jobId" placeholder="Select Job Id" [isSubmitted]="isSubmitted()"
                    class="w-full -m-1" (onSelected)="onJobSelected($event)" [selected]="requestedJobId()">
                </app-select-dropdown>
                <app-form-field label="PR No" [control]="f['prNo']" [isSubmitted]="isSubmitted()"
                    placeholder="Enter PR No" class="w-full" [readonly]="true">
                </app-form-field>
                <app-form-field label="Deal Sheet Id" [control]="f['dealSheetId']" [isSubmitted]="isSubmitted()"
                    placeholder="Enter Deal Sheet Id" class="w-full" [readonly]="true">
                </app-form-field>
            </div>
            <div class="flex flex-col md:flex-row mb-3 gap-3">
                <app-form-field label="Customer" [control]="f['customer']" [isSubmitted]="isSubmitted()"
                    placeholder="Enter Customer name" class="w-full" [readonly]="true">
                </app-form-field>
                <app-form-field label="Sales Manager" [control]="f['salesManager']" [isSubmitted]="isSubmitted()"
                    placeholder="Enter Sales Manager name" class="w-full" [readonly]="true">
                </app-form-field>
            </div>
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 border mb-5">
                <thead class="text-xs text-gray-700 uppercase bg-violet-50">
                    <tr>
                        <th scope="col" resizable key="no" class=" border-l border-r border-t text-center">
                            <div class="px-2 py-3">SL.NO</div>
                        </th>
                        <th scope="col" resizable key="itemDetails" class="border-l border-r border-t text-center">
                            <div class="px-6 py-3">Item Details</div>
                        </th>
                        <th scope="col" resizable key="qty" class="border-l border-r border-t text-center">
                            <div class="px-6 py-3">QTY</div>
                        </th>
                        <th scope="col" resizable key="unitPrice" class="border-l border-r border-t text-center">
                            <div class="px-6 py-3">Unit Selling Price</div>
                        </th>
                        <th scope="col" resizable key="totalPrice" class="border-l border-r border-t text-center">
                            <div class="px-6 py-3">Total Selling Price</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="itemsList(); else elseList">
                        <ng-container *ngFor="let items of itemsList();">
                            <tr>
                                <td colspan="9" class="border px-6 py-2 bg-gray-50 ">
                                    <div class="flex justify-center items-center text-base text-black font-medium">
                                        Item Name: {{items.itemName}}
                                    </div>
                                </td>
                            </tr>
                            <ng-container *ngFor="let item of items.itemDetails; let i = index">
                                <tr class="bg-white border-b text-gray-800 py-2">
                                    <td class="px-2  border text-center">
                                        {{i+1}}
                                    </td>
                                    <td class="px-2 py-2 border text-center text-sm">
                                        {{item.detail}}
                                    </td>
                                    <td class=" py-2  text-center ">
                                        {{item.quantity | numberFormatter}}
                                    </td>
                                    <td class="px-2 py-2 border text-center">
                                        {{item.unitCost | numberFormatter}}
                                    </td>
                                    <td class="px-2 py-2 border text-center">
                                        {{item.unitCost * item.quantity | numberFormatter}}
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                        <tr>
                            <td colspan="12">
                                <div class="bg-gray-100 p-2 w-full md:flex justify-between border mb-8">
                                    <button
                                        class="bg-violet-600 text-white text-sm px-3 py-1.5 rounded hover:bg-violet-500">+
                                        Additional
                                        Column</button>
                                    <div class="w-1/3 flex gap-3 items-center">
                                        <span>Total LPO Value:</span>
                                        <input type="text" class="px-3 py-1.5 outline-none rounded"
                                            formControlName="totalLpo" readonly>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template #elseList>
                        <tr>
                            <td colspan="12">
                                <p class="text-center text-base p-2">Items empty</p>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
            <div class="w-full flex md:justify-between">
                <div class="md:w-1/3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-last-name">
                        Items
                    </label>
                    <ng-select class="form border" placeholder="Get Items" appendTo="body" formControlName="">
                        <ng-option [value]=""></ng-option>
                    </ng-select>
                </div>
                <div class="md:w-1/3 flex flex-col md:items-end mt-6">
                    <button
                        class="w-fit px-3 py-2 text-sm border border-violet-500 rounded mb-3 hover:ring-1 hover:ring-violet-400"
                        (click)="onMrRequestClicks()">MR Request</button>
                    <button
                        class="w-fit px-3 py-2 text-sm border border-violet-500 rounded mb-3 hover:ring-1 hover:ring-violet-400"
                        (click)="onSupplierClicks()">Supplier
                        Discount</button>
                </div>
            </div>
            <div class="w-full flex md:justify-between">
                <button
                    class="w-fit px-3 py-2 text-sm border border-violet-500 rounded mb-3 hover:ring-1 hover:ring-violet-400">Final
                    Dashboard</button>
                <button
                    class="w-fit px-3 py-2 text-sm border border-violet-500 rounded mb-3 hover:ring-1 hover:ring-violet-400">Comparison
                    Summary</button>
            </div>
        </div>
        <div class="w-full flex md:justify-between mb-3 px-8 py-3 border-t">
            <div class="md:flex gap-3">
                <button
                    class="w-fit px-3 py-2 text-sm border border-orange-500 hover:ring-1 hover:ring-orange-400 rounded mb-3">Save
                    & Exit</button>
                <button
                    class="w-fit px-3 py-2 text-sm border bg-orange-500 text-white hover:bg-orange-400 rounded mb-3">Discard</button>
            </div>
            <button
                class="w-fit px-3 py-2 text-sm border bg-violet-600 text-white hover:bg-violet-500 rounded mb-3">Submit
                for Approval</button>
        </div>
    </form>
</div>