<form class="mt-5 space-y-3" action="#">
    <div class="grid grid-cols-1 space-y-2 {{ isPadding ? 'px-5' : ''}}">
        <label class="text-sm text-gray-900 tracking-wide">Attach Documents</label>
        <div class="flex items-center justify-center w-full">
            <label
                class="flex flex-col rounded-lg border-4 border-dashed w-full p-10 group text-center cursor-pointer transition-colors duration-200 ease-in-out"
                [class.border-violet-500]="isDragging"
                [class.border-gray-300]="!isDragging"
                [class.bg-violet-50]="isDragging"
                [class.bg-gray-200]="!isDragging"
                (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)"
                (drop)="onDrop($event)">
                <div class="h-full w-full text-center flex flex-col items-center justify-center">
                    <ng-icon name="heroCloudArrowUp" 
                        [class.text-violet-500]="!isDragging"
                        [class.text-violet-600]="isDragging"
                        class="text-5xl transition-colors duration-200 ease-in-out"></ng-icon>
                    <p class="pointer-none text-gray-500">
                        <span class="text-sm">Drop</span> files here
                        <br /> or <a (click)="triggerFileInput()" class="text-violet-500 hover:underline">select a file</a> from
                        your device
                    </p>
                    <p class="text-sm text-gray-500">
                        <span>File type: doc,pdf,types of images</span>
                    </p>
                </div>
                <input type="file" class="hidden" multiple 
                    (input)="onFileSelected($event)" 
                    #fileInput 
                    appFileValidator 
                    accept=".pdf,.png,.jpg,.jpeg,.doc,.docx">
            </label>
        </div>
    </div>

    <div class="px-5" *ngIf="selectedFiles && selectedFiles.length > 0">
        <div class="" *ngFor="let file of selectedFiles; let i = index">
            <div class="flex justify-center items-center mb-5">
                <ng-icon name="heroXMark" 
                    class="text-orange-500 text-lg cursor-pointer hover:text-orange-600 transition-colors duration-200"
                    (click)="onFileRemoved(i)"></ng-icon>
                <p class="text-base text-gray-500 px-1 w-40 truncate ..." 
                    matTooltip="{{file.name ? file.name : file.originalname}}"
                    matTooltipPosition="above" 
                    matTooltipClass="mat-tooltip"> 
                    {{file.name ? file.name : file.originalname}}
                </p>
            </div>
        </div>
    </div>
    <p class="text-red-500 text-sm pl-5" *ngIf="fileError">Select at least one file</p>
</form>