<data-table
[data]="tableData()"
[columns]="tableColumns"
[defaultColumns]="defaultColumns"
[isLoading]="isLoading()"
[isEmpty]="isEmpty()"
[totalItems]="totalItems()"
(filterChange)="onFilterChange($event)"
(paginationChange)="onPaginationChange($event)"
(rowClick)="onRowClick($event)"
(actionClick)="onActionClick($event)"
[title]="'Approved PR'"
>
<ng-template #sideColumn>
    <div class="flex items-center gap-3">
        <app-btn *ngIf="sourceTypeView() === 'job'" theme="secondary" (buttonClick)="setSourceTypeView('manual')">General Purchase</app-btn>
        <app-btn *ngIf="sourceTypeView() === 'manual'" theme="secondary" (buttonClick)="setSourceTypeView('job')">Approved PR</app-btn>
        <app-btn theme="primary" routerLink="/purchase/create">+ Create PR</app-btn>
    </div>
</ng-template>
</data-table>