<data-table
[data]="tableData()"
[columns]="tableColumns"
[defaultColumns]="defaultColumns"
[isLoading]="isLoading()"
[isEmpty]="isEmpty()"
[totalItems]="totalItems()"
[tableId]="'pending-suppliers-table'"
(filterChange)="onFilterChange($event)"
(rowClick)="onRowClick($event)"
(actionClick)="onActionClick($event)"
[title]="isPendingView() ? 'Pending Suppliers' : 'Approved Suppliers'"
>
<ng-template #sideColumn>
    @if(isPendingView()) {
        <app-btn  theme="primary" routerLink="/suppliers/create">+ Create Supplier</app-btn>
    }
</ng-template>
</data-table>
