<data-table
  [data]="activityPlans"
  [columns]="tableColumns"
  [defaultColumns]="defaultColumns"
  [isLoading]="isLoading"
  [isEmpty]="activityPlans.length === 0"
  [totalItems]="activityPlans.length"
  [showPagination]="false"
  (statusChange)="onTableStatusChange($event)"
  (filterChange)="onFilterChange($event)"
  (actionClick)="onActionClick($event)"
  [tableId]="'activity-plan-table'"
  [title]="'Activity Plan'"
>
  <ng-template #sideColumn>
    <app-btn theme="primary" (click)="onAddActivityPlan()">+ Add Activity Plan</app-btn>
  </ng-template>
</data-table>