<div class="overflow-y-auto">
  <div class="px-5 py-3 border-b w-full flex justify-between">
    <h3 class="text-md font-medium">Comparison Form</h3>
    <button class="bg-gray-200 rounded flex items-center justify-center p-1" (click)="onCancel()"><ng-icon
        name="heroXMark" class="text-md"></ng-icon></button>
  </div>
  <form [formGroup]="comparisonForm" (ngSubmit)="onSubmit()">
    <div class="gap-3 border p-4 rounded-md flex flex-col">

      <app-select-dropdown [options]="suppliers()" label="Supplier" optionLabel="supplierName" optionValue="_id"
        formControlName="supplierId" placeholder="Select Job Id" [isSubmitted]="isSubmitted()" class="w-full">
      </app-select-dropdown>
      <div class="flex gap-3">
        <app-form-field label="QTY" type="number" [control]="f['quantity']" [isSubmitted]="isSubmitted()"
          placeholder="Enter quantity" class="col-span-1"></app-form-field>

        <app-form-field label="Unit Selling Cost" type="number" [control]="f['unitPrice']" [isSubmitted]="isSubmitted()"
          placeholder="Enter unit cost" class="col-span-1"></app-form-field>

        <app-form-field label="Total Selling Cost" type="number" [control]="f['totalCost']"
          [isSubmitted]="isSubmitted()" placeholder="Auto Calculated" class="col-span-1"
          [readonly]="true"></app-form-field>
      </div>


      <div class="flex flex-col">
        <label for="etaTerms" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">ETA
          Terms</label>
        <textarea class="p-2 rounded bg-gray-200 outline-none" rows="2" formControlName="etaTerms"
          placeholder="Enter ETA Terms"></textarea>
      </div>
      <div class="flex flex-col">
        <label for="paymentTerms" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Payment
          Terms</label>
        <textarea class="p-2 rounded bg-gray-200 outline-none" rows="2" formControlName="paymentTerms"
          placeholder="Enter Payment Terms"></textarea>
      </div>
      <!-- <app-form-field label="ETA Terms" [control]="f['etaTerms']" [isSubmitted]="isSubmitted()"
        placeholder="Enter ETA Terms" class="col-span-2"></app-form-field> -->
      <!-- <app-form-field label="Payment Terms" [control]="f['paymentTerms']" [isSubmitted]="isSubmitted()"
        placeholder="Enter payment terms" class="col-span-2"></app-form-field> -->

    </div>

    <div class="border-t">
      <div class="mx-5 my-3 flex justify-end items-center gap-3">
        <!-- <button
          class="w-fit px-5 py-2 text-sm border border-violet-500 rounded mb-3 hover:ring-1 hover:ring-violet-400 disabled:border-gray-500 disabled:ring-0"
          type="button">Clear</button> -->
        <div class="flex gap-3">
          <button type="button" class="px-3 py-2 bg-orange-500 hover:bg-orange-400 text-white text-sm rounded"
            (click)="onCancel()">Discard</button>
          <button class="px-3 py-2 bg-violet-600 hover:bg-violet-500 text-white text-sm rounded">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>