<data-table
[data]="tableData()"
[columns]="tableColumns"
[defaultColumns]="defaultColumns"
[isLoading]="isLoading()"
[isEmpty]="isEmpty()"
[totalItems]="totalItems()"
(rowClick)="onRowClick($event)"
(pageChange)="onPageChange($event)"
(rowsPerPageChange)="onRowsPerPageChange($event)"
(search)="onSearch($event)"
[title]="'GRN List'"
>
  <ng-template #sideColumn>
    <app-btn theme="primary" routerLink="/grn/create-grn">
      <ng-icon name="heroPlus" class="mr-1"></ng-icon>
      Create GRN
    </app-btn>
  </ng-template>
</data-table>
