<div class="bg-white m-6">
    <div class="border-b p-3 px-9 flex justify-between items-center">
        <h3 class="text-md font-medium">Purchase Order <span
                class="uppercase"></span>
        </h3>
    </div>

    <div class="flex flex-col py-6 mx-auto w-full text-gray-900 bg-white px-9">

        <div class="w-full mb-8">
            <div class="relative overflow-x-auto">
                <table class="w-full text-md text-left border">
                    <tbody>
                        <tr class="border-b">
                            <td
                                class="px-2 py-2 border font-medium bg-gray-50 w-1/6">Supplier</td>
                            <td class="p-2 border w-2/6">
                                <app-select-dropdown [options]="suppliersList()"
                                    label optionLabel="supplierName"
                                    optionValue="_id"
                                    placeholder="Select Supplier Id"
                                    [isSubmitted]="isSubmitted()"
                                    class="w-full -m-1"
                                    (onSelected)="onSupplierSelected($event)"
                                    [selected]="requestedSupplierId()">
                                </app-select-dropdown>
                            </td>
                            <td
                                class="px-2 py-2 border font-medium bg-gray-50 w-1/6">Delivery
                                Terms</td>
                            <td class="px-2 py-2 border w-2/6">
                                <ng-container *ngIf="this.selectedSupplier()">
                                    {{this.selectedSupplier().comparisons.etaTerms}}
                                </ng-container>
                            </td>
                        </tr>
                        <tr class="border-b">
                            <td
                                class="px-2 py-2 border font-medium bg-gray-50 w-1/6">Address</td>
                            <td class="px-2 py-2 border w-2/6">
                                <ng-container *ngIf="this.selectedSupplier()">
                                    <p>{{this.selectedSupplier().comparisons.supplierId.address?.buildingNo + ', '}} {{this.selectedSupplier().comparisons.supplierId.address?.location + ', '}}
                                        {{this.selectedSupplier().comparisons.supplierId.address?.streetNo + ', '}} {{this.selectedSupplier().comparisons.supplierId.address?.zoneNo}}
                                    </p>
                                </ng-container>
                            </td>
                            <td
                                class="px-2 py-2 border font-medium bg-gray-50 w-1/6">Place
                                of Delivery</td>
                            <td class="px-2 py-2 border w-2/6" *ngIf="this.selectedSupplier()">
                                {{placeOfDelivery}}
                            </td>
                        </tr>
                        <tr class="border-b">
                            <td
                                class="px-2 py-2 border font-medium bg-gray-50 w-1/6">Contact
                                Person</td>
                            <td class="px-2 py-2 border w-2/6">
                                <ng-container *ngIf="this.selectedSupplier()">
                                    {{this.selectedSupplier().comparisons.supplierId?.contactDetails?.name}}
                                </ng-container>
                            </td>
                            <td
                                class="px-2 py-2 border font-medium bg-gray-50 w-1/6">Payment
                                Terms</td>
                            <td class="px-2 py-2 border w-2/6">
                                <ng-container *ngIf="this.selectedSupplier()">
                                    {{this.selectedSupplier().comparisons.paymentTerms}}
                                </ng-container>
                            </td>
                        </tr>
                        <tr class="border-b">
                            <td
                                class="px-2 py-2 border font-medium bg-gray-50 w-1/6">Phone</td>
                            <td class="px-2 py-2 border w-2/6">
                                <ng-container *ngIf="this.selectedSupplier()">
                                    {{this.selectedSupplier().comparisons.supplierId?.contactDetails?.phoneNumber}}
                                </ng-container>
                            </td>
                            <td
                                class="px-2 py-2 border font-medium bg-gray-50 w-1/6">Shipping
                                Terms</td>
                            <td class="px-2 py-2 border w-2/6"></td>
                        </tr>
                        <tr class="border-b">
                            <td
                                class="px-2 py-2 border font-medium bg-gray-50 w-1/6">E
                                mail</td>
                            <td class="px-2 py-2 border w-2/6">
                                <ng-container *ngIf="this.selectedSupplier()">
                                    {{this.selectedSupplier().comparisons.supplierId?.contactDetails?.email}}
                                </ng-container>
                            </td>
                            <td
                                class="px-2 py-2 border font-medium bg-gray-50 w-1/6">PO
                                Date</td>
                            <td class="px-2 py-2 border w-2/6">
                                <ng-container *ngIf="this.selectedSupplier()">
                                    {{purchase?.createdAt | date: 'dd/MM/yyyy'}}
                                </ng-container>
                            </td>
                        </tr>
                        <tr class="border-b">
                            <td
                                class="px-2 py-2 border font-medium bg-gray-50 w-1/6">Quote
                                Ref</td>
                            <td class="px-2 py-2 border w-2/6">
                                <ng-container *ngIf="this.selectedSupplier()">
                                    {{purchase?.jobId?.quoteId.quoteId}}
                                </ng-container>
                            </td>
                            <td
                                class="px-2 py-2 border font-medium bg-gray-50 w-1/6">PO
                                No</td>
                            <td class="px-2 py-2 border w-2/6">
                                <ng-container *ngIf="this.selectedSupplier()">
                                    {{purchase?.purchaseNo}}
                                </ng-container>
                            </td>
                        </tr>
                        <tr class="border-b">
                            <td
                                class="px-2 py-2 border font-medium bg-gray-50 w-1/6">Subject</td>
                            <td class="px-2 py-2 border w-2/6"></td>
                            <td
                                class="px-2 py-2 border font-medium bg-gray-50 w-1/6">Job
                                No</td>
                            <td class="px-2 py-2 border w-2/6">
                                <ng-container *ngIf="this.selectedSupplier()">
                                    {{purchase?.jobId.jobId}}
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="w-full mb-8">
            <div class="flex justify-between gap-3 py-5">
                <div class="md:w-1/3">
                    <label
                        class="block uppercase tracking-wide text-gray-700 text-xs font-semibold mb-2"
                        for="grid-last-name">
                        List of Materials
                    </label>
                </div>
                <div class="w-full flex justify-end gap-2 items-end">
                    <span>Currency:</span>
                    <div class="flex">
                        <button
                            class="text-gray-500 hover:text-gray-700">USD</button>/
                        <button class="text-violet-600 underline">QAR</button>
                    </div>
                </div>
            </div>
            <div class="relative overflow-x-auto">
                <table class="w-full text-md text-left border">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th class="px-4 py-2 border">SL.NO</th>
                            <th class="px-4 py-2 border">Description</th>
                            <th class="px-4 py-2 border">Quantity</th>
                            <th class="px-4 py-2 border">Unit Cost</th>
                            <th class="px-4 py-2 border">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="this.selectedSupplier()">
                            <tr class="border-b">
                                <td class="px-4 py-2 border">1</td>
                                <td class="px-4 py-2 border">{{this.selectedSupplier().detail}}</td>
                                <td class="px-4 py-2 border">{{this.selectedSupplier().comparisons.quantity}}</td>
                                <td class="px-4 py-2 border">{{this.selectedSupplier().comparisons.unitPrice}}</td>
                                <td class="px-4 py-2 border">{{this.selectedSupplier().comparisons.quantity * this.selectedSupplier().comparisons.unitPrice | number:'1.2-2'}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="w-full flex md:justify-between">
            <div class="w-1/3">
                <label for="etaTerms"
                    class="block uppercase tracking-wide text-gray-700 text-xs font-semibold mb-2">Payment
                    Terms</label>
                    <ng-container *ngIf="this.selectedSupplier(); else noSupplier">
                        <textarea class="w-full p-2 rounded bg-gray-200 outline-none"
                            rows="2"
                            placeholder="Enter Payment Terms" [value]="this.selectedSupplier().comparisons.paymentTerms"></textarea>
                    </ng-container>  
                    <ng-template #noSupplier>
                        <textarea class="w-full p-2 rounded bg-gray-200 outline-none"
                            rows="2"
                            placeholder="Enter Payment Terms"></textarea>
                    </ng-template>
            </div>
            <div class="w-1/2 py-5">
                <table class="w-full text-md text-left border">
                    <tbody>
                        <tr class="border-b">
                            <td
                                class="px-2 py-2 border font-medium bg-gray-50">Sub
                                Total (QAR/USD)</td>
                            <td class="px-2 py-2 border" *ngIf="this.selectedSupplier()">
                                {{this.selectedSupplier().quantity * this.selectedSupplier().comparisons.unitPrice | number:'1.2-2'}}
                            </td>
                        </tr>
                        <tr>
                            <td
                                class="px-2 py-2 border font-medium bg-gray-50">Discount</td>
                            <td class="px-2 py-2 border"></td>
                        </tr>
                        <tr>
                            <td
                                class="px-2 py-2 border font-medium bg-gray-50">Total
                                Amount after discount </td>
                            <td class="px-2 py-2 border" *ngIf="this.selectedSupplier()">
                                {{this.selectedSupplier().comparisons.quantity * this.selectedSupplier().comparisons.unitPrice | number:'1.2-2'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="w-full flex md:justify-between mb-3 px-8 py-3 border-t">
            <div class="md:flex gap-3">
                <button
                    class="w-fit px-3 py-2 text-sm border border-orange-500 hover:ring-1 hover:ring-orange-400 rounded mb-3"
                    type="button" (click)="onSaveClicks()">Save
                    & Close</button>
                <button
                    class="w-fit px-3 py-2 text-sm border bg-orange-500 text-white hover:bg-orange-400 rounded mb-3"
                    type="button" (click)="onDiscardClicks()">Exit</button>
            </div>
            <button
                class="w-fit px-3 py-2 text-sm border bg-violet-600 text-white hover:bg-violet-500 rounded mb-3"
                type="button" (click)="onIssueClicks()">Issue LPO</button>
        </div>
    </div>
</div>