PORT = 3000
ORIGIN1 = 'frontend url'
MONGO_USER = name
MONGO_PASSWORD = password
MONGO_IP = ip address
MONGO_PORT = port
MONGO_DATABASE = name
MONGO_INITDB_ROOT_USERNAME = name
MONGO_INITDB_ROOT_PASSWORD = password
USE_MONGOATLAS = true
MONGODB_ATLAS_URL = cloud url
ACCESS_SECRET = secret
JWT_SECRET = secret
REFRESH_SECRET = secret
AWS_BUCKET_NAME=""
AWS_ACCESSKEYID=""
AWS_SECRETACCESSKEY=""
AWS_REGION=""
AWS_ENDPOINT= link
MIGRATE_MONGO_URI = cloud url
MIGRATE_AUTOSYNC = "true"
AUTH0_AUDIENCE = link
AUTH0_ISSUER_BASE_URL = ''
MICROSOFT_TENANT_ID = ''
MICROSOFT_CLIENT_ID = ''
MICROSOFT_CLIENT_SECRET = ''