<data-table
  [data]="tableData()"
  [columns]="tableColumns"
  [defaultColumns]="defaultColumns"
  [isLoading]="isLoading()"
  [isEmpty]="isEmpty()"
  [totalItems]="totalItems()"
  [tableId]="'technical-jobs-table'"
  (actionClick)="onActionClick($event)"
  (paginationChange)="onPaginationChange($event)"
  [title]="'Technical Jobs'"
  (filterChange)="onFilterChange($event)"
  
>
<ng-template #sideColumn>
  <app-btn theme="primary" (buttonClick)="addProject()">
    <ng-icon name="heroPlus"></ng-icon>
    Add Project
  </app-btn>
</ng-template>
</data-table>
