<div class="mb-1 {{class}}">
    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" [for]="id">
        {{ label }}
    </label>
    @if(type == 'textarea') {
        <textarea [id]="id" [placeholder]="placeholder" [class]="(control?.invalid && isSubmitted) ? invalidBorderClass : ''"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            [formControl]="control"
            [readonly]="readonly"
            [rows]="rows"></textarea>
    }@else if(type == 'date') {
        <input [id]="id" [placeholder]="placeholder" [class]="(control?.invalid && isSubmitted) ? invalidBorderClass : ''"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            [formControl]="control"
            [readonly]="readonly"
            type="date"/>
    }@else {
        <input [id]="id" [placeholder]="placeholder" [class]="(control?.invalid && isSubmitted) ? invalidBorderClass : ''"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            [formControl]="control"
            [readonly]="readonly"
            [type]="type"/>
    }

    @if(control?.invalid && isSubmitted) {
        <div class="text-red-700 text-sm mt-1">
            @if(control?.errors?.['required']) {
                <span>This field is required.</span>
            }
            @if(control?.errors?.['email']) {
                <span>Invalid email format.</span>
            }
            @if(control?.errors?.['min']) {
                <span>Value must be at least {{control?.errors?.['min']?.min}}.</span>
            }
            @if(control?.errors?.['max']) {
                <span>Value must not exceed {{control?.errors?.['max']?.max}}.</span>
            }
            @if(control?.errors?.['minlength']) {
                <span>Minimum length is {{control?.errors?.['minlength']?.requiredLength}} characters.</span>
            }
        </div>
    }
</div> 