<data-table
[data]="tableData()"
[columns]="tableColumns"
[defaultColumns]="defaultColumns"
[isLoading]="isLoading()"
[isEmpty]="isEmpty()"
[totalItems]="totalItems()"
(rowClick)="onRowClick($event)"
(actionClick)="onActionClick($event)"
(pageChange)="onPageChange($event)"
(rowsPerPageChange)="onRowsPerPageChange($event)"
(search)="onSearch($event)"
(statusChange)="onStatusChange($event)"
[title]="'Issued LPO List'"
>
<ng-template #sideColumn>
      <ng-select 
        [items]="[
          {label: 'Pending for Approval', value: 'Pending for Approval'},
          {label: 'Approved', value: 'Approved'},
          {label: 'Draft', value: 'Draft'},
          {label: 'Closed', value: 'Closed'}
        ]"
        bindLabel="label"
        bindValue="value"
        [multiple]="true"
        [ngModel]="selectedStatus()"
        (ngModelChange)="selectedStatus.set($event); onStatusFilterChange()"
        placeholder="Select Status"
        class="w-full">
      </ng-select>
</ng-template>
</data-table>