<div class="h-full flex flex-col p-6 gap-5 bg-gray-50 dark:bg-erp-surface-dark-alt">
  <app-data-grid #grid
    class="flex-1 min-h-0"
    [fillHeight]="true"
    title="Stock Holds"
    subtitle="Quarantined stock pending resolution with suppliers"
    [breadcrumbs]="breadcrumbs"
    rowKey="_id"
    [serverSide]="true"
    [totalCount]="totalItems()"
    [data]="tableData()"
    [columns]="columns"
    [loading]="isLoading()"
    [pageSize]="row"
    searchPlaceholder="Search item, part no, description..."
    emptyMessage="No stock holds found"
    [rowActions]="rowActions"
    exportable
    exportFileName="stock-holds.xlsx"
    [detailTabs]="detailTabs"
    [detailTitle]="detailTitle"
    [detailSubtitle]="detailSubtitle"
    (queryChange)="onQueryChange($event)"
    (rowAction)="onRowAction($event)">

    <ng-template #detailTemplate let-row let-tab="tab">
      <ng-container [ngSwitch]="tab">
        <ng-container *ngSwitchCase="'overview'">
          <app-detail-overview [grid]="grid" [row]="row" [sections]="overviewSections(row)"></app-detail-overview>
        </ng-container>
      </ng-container>
    </ng-template>
  </app-data-grid>
</div>
