<data-table
  #tableComponent
  [data]="tableData()"
  [columns]="tableColumns"
  [defaultColumns]="defaultColumns"
  [isLoading]="isLoading()"
  [isEmpty]="isEmpty()"
  [totalItems]="totalItems()"
  [tableId]="'stock-entries-table'"
  [title]="'Stock Entries'"
  [enableExport]="true"
  (rowClick)="onRowClick($event)"
  (actionClick)="onActionClick($event)"
  (filterChange)="onFilterChange($event)"
  (paginationChange)="onPaginationChange($event)"
  (inlineDelete)="onInlineDelete($event)">

  <ng-template #sideColumn>
    <div class="flex flex-wrap items-center gap-3 justify-end">
      <app-btn *ngIf="showQuarantineOnly()" theme="secondary" (buttonClick)="toggleQuarantineView()">
        <ng-icon name="heroListBullet"></ng-icon>
        Stock Entries
      </app-btn>
      <app-btn *ngIf="!showQuarantineOnly()" theme="secondary" (buttonClick)="toggleQuarantineView()">
        <ng-icon name="heroPauseCircle"></ng-icon>
        On Hold
      </app-btn>
    </div>
  </ng-template>
</data-table>
