

<div class="w-full  max-h-[95vh]">
    <div class="border border-white border-b-gray-300 p-3 px-6 flex justify-between  bg-white ">
      <h3 class="text-md font-medium">{{ activityPlan ? 'Edit Activity Plan' : 'Add Activity Plan' }}</h3>
      <button class="bg-gray-200 rounded-lg p-1 text-center flex items-center justify-center" (click)="onCancel()">
        <span class="material-icons text-md p-0 m-0">close</span>
      </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSave()" class="p-6  overflow-y-scroll max-h-[77vh]">
      <div class="grid grid-cols-1 gap-4">
        <app-form-field
          label="Activity Name"
          [control]="form.get('activityName')"
          [isSubmitted]="isSubmitted"
          placeholder="Enter activity name"
          id="activityName"
          type="text">
      </app-form-field>
      </div>
  
      <div class="grid grid-cols-2 gap-4">
        <app-form-field
          label="Start Date"
          [control]="form.get('startDate')"
          [isSubmitted]="isSubmitted"
          placeholder="Select start date"
          id="startDate"
          type="date">
        </app-form-field>
        <app-form-field
          label="End Date"
          [control]="form.get('endDate')"
          [isSubmitted]="isSubmitted"
          placeholder="Select end date"
          id="endDate"
          type="date">
        </app-form-field>
      </div>
  
      <div class="grid grid-cols-1 gap-4">
        <app-select-dropdown
          label="Included Employees"
          [options]="employees()"
          [multiple]="true"
          optionLabel="name"
          optionValue="id"
          [isSubmitted]="isSubmitted"
          [id]="'includedEmployees'"
          placeholder="Select included employees"
          [formControl]="includedEmployeesArray">
        </app-select-dropdown>
  
        
      </div>
  
    </form>
    
  </div> 
  <div class="border border-white border-t-gray-300 py-3 px-6 flex justify-end gap-2">
    <div class="flex gap-2 ">
      <button class="border text-black font-medium py-2 px-4 rounded text-sm" (click)="onCancel()">
        Close
      </button>
      @if(activityPlan) {
        <button class="border border-red-500 text-red-500 font-medium py-2 px-4 rounded text-sm" (click)="onDelete()">
          Delete
        </button>
      }
      
      <button
        class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-4 rounded text-sm whitespace-nowrap"
        (click)="onSave()">
        <ng-icon *ngIf="isSaving" class="spin" name="heroArrowPath"></ng-icon>
        Submit
      </button>
    </div>
  </div>