<app-modal-layout
  [title]="isEditMode ? 'Edit Product' : 'New Product'"
  [onClose]="onCancel.bind(this)"
  [footerButtons]="[
    { label: 'Close', onClick: onCancel.bind(this), theme: 'cancel' },
    {
      label: isEditMode ? 'Update' : 'Save & Exit',
      onClick: onSubmit.bind(this),
      theme: 'primary',
      loading: isSubmitting,
    },
  ]"
  contentClass="p-6"
  contentMaxHeight="90vh"
>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="space-y-3">
      <div class="grid grid-cols-2 gap-5">
        <app-form-field
          *ngIf="!isEditMode"
          label="Date"
          [control]="productForm.get('createdDate')"
          [isSubmitted]="isSubmitting"
          type="date"
        >
        </app-form-field>

        <app-form-field
          *ngIf="isEditMode"
          label="Created By"
          [control]="createdByDisplay"
          [readonly]="true"
        >
        </app-form-field>

        <app-form-field
          label="Item Code"
          [control]="productForm.get('itemCode')"
          [isSubmitted]="isSubmitting"
          [readonly]="isEditMode"
          placeholder="Manual Entry"
        >
        </app-form-field>

        <app-form-field
          label="Part No"
          [control]="productForm.get('partNo')"
          [isSubmitted]="isSubmitting"
          placeholder="Manual Entry"
        >
        </app-form-field>

        <app-select-dropdown
          label="Department"
          [options]="departments"
          optionLabel="departmentName"
          optionValue="_id"
          formControlName="productSegment"
          placeholder="Auto fill"
          [isSubmitted]="isSubmitting"
        >
        </app-select-dropdown>

        <app-select-dropdown
          label="Category"
          [options]="categories"
          optionLabel="categoryName"
          optionValue="_id"
          formControlName="productCategory"
          placeholder="Select category"
          [isSubmitted]="isSubmitting"
          footerLabel="+ Add category"
          (footerAction)="onAddCategory()"
        >
        </app-select-dropdown>

        <app-select-dropdown
          label="Warehouse"
          [options]="warehouses"
          optionLabel="wareHouseName"
          optionValue="_id"
          formControlName="warehouse"
          placeholder="Select warehouse"
          [isSubmitted]="isSubmitting"
          footerLabel="+ Add warehouse"
          (footerAction)="onAddWarehouse()"
        >
        </app-select-dropdown>
      </div>

      <app-form-field
        label="Product Description"
        [control]="productForm.get('productDescription')"
        [isSubmitted]="isSubmitting"
        type="textarea"
        [rows]="3"
        placeholder="Enter product description"
      >
      </app-form-field>
    </div>
  </form>
</app-modal-layout>
